<include file="Public/header" />
<body>
<div id="preloader">
    <div class="loader"></div>
</div>
<div id="dangqian" style="display:none">news</div>
<!-- header-->

<!-- /header-->
<section class="section-page-header" style="background-image:url(__IMG__/b1.jpg)">
</section>


<div class="neirong" style="background-color: rgba(217, 237, 247, 0.19)">
        <article class="container">
            <div class="biaoti-sousuo row">
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-12">
                    <h3 class="ny-bt">维登新闻</h3>
                    <h5 class="ny-bt1">WHEDEN&nbsp;<span class="ny-bt2">NEWS</span></h5>
                </div>
            </div>

            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-12 sf">
                    <ul>
                        <li><a class="hovers" href="#">网站建设</a></li>
                        <li><a class="hover" href="{:U('news/app')}">APP开发</a></li>
                        <li><a class="hover" href="{:U('news/weixin')}">微信开发</a></li>
                        <li><a class="hover" href="{:U('news/back')}">后台搭建</a></li>
                    </ul>
            </div>
        <!-- 新闻列表页 start -->
        <div class="row m-x-30">
            <?php foreach($list as $vo=>$news){?>
            <figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <article class="ny-news">
                <div class=" col-sm-6 box2">
                    <div class="box1">
                        <div class="box-img">
                            <img src="/whedencms/Uploads/<?php echo $news['img_url']?>" alt="" class="ylw-img-responsive2">
                        </div>
                        <div class="box-content">
                            <h4 class="title">维登</h4>
                         <p class="description">创新领航互联网时代助力企业发展电商</p>

                        </div>
                    </div>
                </div>
                <h4><a href="javascript:;" target="_blank"><?php echo $news['title']?></a></h4>
                <p><?php echo $news['text']?></p>
                <p><span class="fl"><a href="{:U('<?php echo $news['news_url']?>')}">查看详情</a></span><span class="sj"><?php echo date('Y-m-d H:i:s',$news['time'])?></span></p>
                </article>
            </figure>
            <?php }?>

            <figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <article class="ny-news">
                    <div class=" col-sm-6 box2">
                        <div class="box1">
                            <div class="box-img">
                                <img src="__IMG__/website-1.jpg" alt="" class="ylw-img-responsive2">
                            </div>
                            <div class="box-content">
                                <h4 class="title">维登</h4>
                                <p class="description">创新领航互联网时代助力企业发展电商</p>

                            </div>
                        </div>
                    </div>
                    <h4><a href="javascript:;" target="_blank">平面设计师如何提高自己的设计水平？</a></h4>
                    <p>创新领航互联网时代助力企业发展电商</p>
                    <p><span class="fl"><a href="{:U('Index/404')}">查看详情</a></span><span class="sj">2016-03-25</span></p>
                </article>
            </figure>
        </div>
        <!-- 新闻列表页 stop -->

        <div class="fanye text-center">
            <ul class="pagination pagination-lg">
                <li>
                    <a href="index.php">首页</a>
                </li>
                <li>
                    <a href="javascript:;" title="已是第一页">&lt;&lt;</a>
                </li>
                <li>
                    <a href="javascript:;" title="已是第一页">&lt;</a>
                </li>
                <li class="thisclass">
                    <a>1</a>
                </li>
                <li class="disabled">
                    <a  title="下一页" >&gt;</a>
                </li>
                <li class="disabled">
                    <a  title="最后一页" >&gt;&gt;</a>
                </li>
            </ul>
        </div>
    </article>
</div>

<include file="Public/foot" />