<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!--<link rel="shortcut icon" href="__IMA__/favicon.png">-->

    <!-- Style -->
    <link rel="stylesheet" href="__CSS__/theme.css">
    <link rel="stylesheet" href="__CSS__/erweima.css">

    <link rel="alternate stylesheet" href="__CSS__/theme-persimmon.css" title="theme-persimmon">
    <link rel="alternate stylesheet" href="__CSS__/theme-atomic-tangerine.css" title="theme-atomic-tangerine">
    <link rel="alternate stylesheet" href="__CSS__/theme-yellow-sea.css" title="theme-yellow-sea">
    <link rel="alternate stylesheet" href="__CSS__/theme-rio-grande.css" title="theme-rio-grande">
    <link rel="alternate stylesheet" href="__CSS__/theme-vida-loca.css" title="theme-vida-loca">
    <link rel="alternate stylesheet" href="__CSS__/theme-mountain-meadow.css" title="theme-mountain-meadow">
    <link rel="alternate stylesheet" href="__CSS__/theme-java.css" title="theme-java">
    <link rel="alternate stylesheet" href="__CSS__/theme-mariner.css" title="theme-mariner">
    <link rel="alternate stylesheet" href="__CSS__/theme-medium-purple.css" title="theme-medium-purple">
    <link rel="alternate stylesheet" href="__CSS__/theme-lavender-magenta.css" title="theme-lavender-magenta">
    <link rel="alternate stylesheet" href="__CSS__/footerfont.css" title="footerfont">
    <link rel="alternate stylesheet" href="__CSS__/erweima.css" title="footerfont">
    <link href="__CSS__/style.css" rel="stylesheet">
    <link href="__CSS__/shake.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico">

</head>
<body>

<!-- 头部 -->
<header id="home" class="header">

    <!-- 导航 -->
    <nav id="navigation" class="navbar affix">

        <!-- 公司信息 -->
        <div class="information hidden-sm hidden-xs">
            <div class="container">
                <div class="row">

                    <!-- 地址电话 -->
                    <div class="col-md-7">
                        <a href="{:U('About/baidumap')}" class="iframe-popup"><span class="icon icon_pin_alt"></span>
                            东莞市南城商务大厦1506</a>
                        <a href="#"><span class="icon icon_mail_alt"></span>wheden@wheden.com</a>
                        <a href="#"><span class="icon icon_phone"></span> 13637848756</a>
                    </div>
                    <!-- /反馈 -->

                    <!--社交软件 -->
                    <div class="col-md-5">
                        <ul class="social">
                            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=710201459&site=qq&menu=yes"  target="_blank" class="fa fa-fw fa-qq"></a></li>
                            <li><a href="#" class="fa fa-fw fa-wechat"></a></li>
                            <li><a href="#" class="fa fa-fw fa-weibo"></a></li>
                        </ul>
                    </div>
                    <!-- /社会 -->

                </div>
            </div>
        </div>
        <!-- /公司信息 -->

        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <!-- 导航标题 -->
                    <div class="navbar-header">

                        <!-- 切换按钮 -->
                        <button type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#main-menu"
                                aria-expanded="false"
                                aria-controls="main-menu">

                            <span class="sr-only">切换导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>
                        <!-- /切换按钮 -->

                        <!-- 品牌 -->
                        <a href="#" class="brand">

                            <!-- 商标 -->
                            <img src="__IMG__/logo.png" class="logo-big" alt="">
                            <!-- /商标 -->

                            <!-- Logo Small -->
                            <img src="__IMG__/logo-small.png" class="logo-small" alt="">
                            <!-- /Logo Small -->

                        </a>
                        <!-- /品牌 -->

                    </div>
                    <!-- /导航标题 -->

                    <!-- Navigation -->
                    <div id="main-menu" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:U('Index/index')}">首页</a></li>
                            <li class="dropdown">
                                <a href="{:U('about/about')}" class="dropdown-toggle">关于我们</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{:U('about/zhaopin')}">招聘</a></li>
                                    <li><a href="{:U('about/lists')}">公司环境</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="{:U('service/service')}" class="dropdown-toggle">服务</a>
                            </li>
                            <li class="dropdown">
                                <a href="{:U('news/news')}" class="dropdown-toggle">新闻</a>
                            </li>
                            <li class="dropdown">
                                <a href="{:U('cases/cases')}" class="dropdown-toggle">案例</a>
                            </li>
                            <li><a href="{:U('contact/contact')}">联系</a></li>
                        </ul>
                    </div>
                    <!-- /导航 -->

                </div>
            </div>

        </div>
    </nav>
    <!-- /导航 -->



</header>