<include file="public/header" />
<!-- /Header -->

<head>

    <!-- Page title -->
    <title>首页</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/bootstrap-touch-slider.css" rel="stylesheet" media="all">
    <style type="text/css">
        .qc {
            margin: 10px;
        }

        .qx {
            margin-bottom: 10px;
        }
    </style>
</head>

<!-- 预加载 -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /预加载 -->

<!-- 滑动 -->
<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- Third Slide -->
        <div class="item active">
            <!-- Slide Background -->
            <img src="__IMG__/home3.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <!--<div class="bs-slider-overlay"></div> 背景模糊-->
            <div class="container">
                <div class="row">
                    <div class="slide-text slide_style_left">
                        <h1 data-animation="animated zoomInRight">欢迎来到 <span class="text-theme">维登科技</span></h1>
                        <p data-animation="animated fadeInLeft"></p>
                        <a href="#" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">首页</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Slide -->

        <!-- Second Slide -->
        <div class="item">
            <!-- Slide Background -->
            <img src="__IMG__/home4.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
           <!-- <div class="bs-slider-overlay"></div>-->
            <!-- Slide Text Layer -->
            <!--<div class="slide-text slide_style_center">
                <h1 data-animation="animated flipInX">让每一个作品有新意，<span class="text-theme">更有心意</span></h1>
                <p data-animation="animated lightSpeedIn">战略咨询-定制开发-长期运营-推广运营-托管服务</p>
               <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">联系我们</a>
                <a href="#" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">了解详情</a>
            </div>-->
        </div>
        <!-- End of Slide -->

        <!-- Third Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src="__IMG__/home2.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <!--<div class="bs-slider-overlay"></div>-->
            <!-- Slide Text Layer -->
            <!--<div class="slide-text slide_style_right">
                <h1 data-animation="animated zoomInLeft">我们的服务<span class="text-theme">更专业</span></h1>
                <p data-animation="animated fadeInRight">每一个项目，都是一次厚积薄发</p>
               <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">了解详情</a>
            </div>-->
        </div>
        <!-- End of Slide -->


    </div><!-- End of Wrapper For Slides -->

    <!-- Left Control -->
    <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <!-- Right Control -->
    <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
<!-- /滑动 -->

<!-- 主要 -->
<main class="main-container">

    <!-- 关于我们： -->
    <section id="about" class="section">
        <div class="container">
            <div class="row">
                <h2 class="title" align="center" style="font-size: 32px;">我们的服务</h2>
                <h3 align="center" >WEBTHINK <span class="text-theme">SERVICE</span></h3>
            </div>
            <!-- /开头 -->

            <div class="row">
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
                    <div style="height:130px">
                        <span class="tu-biao"><a href="{:U('service/service#about')}" class="dt"><img style="width:40%;" src="__IMG__/pc.png" class="img3"></a></span>
                    </div>
                    <div class="h3 title">
                        <a href="{:U('service/service#about')}">PC端</a>
                    </div>
                    <p class="description">
                        PC依旧是人们使用最频繁的工具.
                    </p>
                    <a href="{:U('service/service#about')}" class="btn btn-theme">阅读更多</a>
                </div>
                <!-- Feature Block -->
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s">
                    <div style="height:130px">
                        <span class="tu-biao"><a href="{:U('service/service#about')}" class="dt"><img style="width:40%;" src="__IMG__/yd.png"class="img1"></a></span>
                    </div>
                    <div class="h3 title">
                        <a href="{:U('service/service#about')}">Android开发服务</a>
                    </div>
                    <p class="description">
                        安卓APP已经成为人们日常所需工具.
                    </p>
                    <a href="{:U('service/service#about')}" class="btn btn-theme">阅读更多</a>
                </div>
                <!-- /Feature Block -->

                <!-- Feature Block -->
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <div style="height:130px">
                        <a href="{:U('service/service#about')}" class="dt">
						<span class="tu-biao">
						<img style="width:40%;" src="__IMG__/wx.png"class="img2">
						</span></a>
                    </div>
                    <div class="h3 title">
                        <a href="{:U('service/service#about')}">微信二次开发</a>
                    </div>
                    <p class="description">
                        微信时代，距离企业宣传发展.
                    </p>
                    <a href="{:U('service/service#about')}" class="btn btn-theme">阅读更多</a>
                </div>

                <!-- Feature Block -->
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
                    <div style="height:130px">
                        <span class="tu-biao"><a href="{:U('service/service#about')}" class="dt"><img style="width:40%;" src="__IMG__/wh.png" class="img4"></a></span>
                    </div>
                    <div class="h3 title">
                        <a href="{:U('service/service#about')}">运营维护</a>
                    </div>
                    <p class="description">
                        提供网站SEO推广及页面优化相关服务
                    </p>
                    <a href="{:U('service/service#about')}" class="btn btn-theme">阅读更多</a>
                </div>
                <!-- /功能块 -->

            </div>
        </div>
    </section>
    <!-- /关于我们 -->

    <!-- 部分项目 -->
    <section id="projects" class="section-small bg-light-gray">
       <!-- <div class="container">-->
            <!-- 开始 -->
            <div class="row">
                <!--<h2 class="title" align="center" style="font-size: 32px;">我们的案例</h2>
                <h4 align="center" >CASE <span class="text-theme">OF US</span></h4>-->
                <h3 class="ny-bt" align="center">我们的案例</h3>
                <h4 align="center" >CASE <span class="text-theme">OF US</span></h4>
            </div>
            <!-- /部分项目 -->

            <!-- 项目内容 -->
            <div class="row mt" style="padding-top: 10px;padding-left: 5%;padding-right: 5%">

                <div class="col-md-3 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <a href="http://localhost/wheden.com/index.php/Home/Index/cases.html" class="project-item ">
                        <div class="gallery-image">
                            <img src="__IMG__/fc.jpg" alt="彩妆网站设计建设案例" style="width:100%;height: 220px" class="img-responsive">
                        </div>
                        <div class="info">
                            <div class="h4 title">彩妆网站设计建设案例</div>
                            <p class="description">网页设计</p>

                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <a href="http://localhost/wheden.com/index.php/Home/Index/cases.html" class="project-item ">
                        <div class="gallery-image">
                            <img src="__IMG__/car.jpg" alt="汽车销售网站建设案例" style="width:100%;height:220px" class="img-responsive">
                        </div>
                        <div class="info">
                            <div class="h4 title">汽车销售网站建设案例</div>
                            <p class="description">网页设计</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <a href="http://localhost/wheden.com/index.php/Home/Index/cases.html" class="project-item ">
                        <div class="gallery-image">
                            <img src="__IMG__/fz.jpg" alt="服装网站设计建设案例" style="width:100%;height: 220px" class="img-responsive">
                        </div>
                        <div class="info">
                            <div class="h4 title">服装网站设计建设案例</div>
                            <p class="description">网页设计</p>

                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <a href="http://localhost/wheden.com/index.php/Home/Index/cases.html" class="project-item ">
                        <div class="gallery-image">
                            <img src="__IMG__/mk.png" alt="东莞麦凯风机有限公司" style="width:100%;height:220px" class="img-responsive">
                        </div>
                        <div class="info">
                            <div class="h4 title">东莞麦凯风机有限公司</div>
                            <p class="description"> 网页设计</p>
                        </div>
                    </a>
                </div>
                <div class="row container">
                    <div class="col-md-offset-8 col-xs-offset-3">
                        <a href="http://localhost/wheden.com/index.php/Home/Index/cases.html" class="btn btn-theme" style="margin-left: 50px">更多案例</a>
                    </div>
                </div>

            </div>
            <!-- /项目内容 -->
     <!--   </div>-->
    </section>

    <section id="statistics" class="section hidden-xs" style="background-image:url(__IMG__/lcbg.jpg);height: 600px" >
        <div class="container">
            <div class="row">
                <h2 class="title pp" align="center" style="font-size: 32px;">服务流程</h2>
                <h4 align="center" class="pp" >SERVICE PROCESS</h4>
            </div>
            <p align="center" style="color: #FFFFFF">我们专业提供一站式服务，从网站品牌规划、视觉设计、交互设计、动效创意，到程序开发，运营维护</p>
            <div class="row">
                <h2></h2>
                <div class="col-md-12">
                    <img src="__IMG__/dibu.png"  class="img-responsive"/>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="__IMG__/01.png" id="im" style="margin-top: -114%"/>
                </div>
                <div class="col-md-3" >
                    <img src="__IMG__/02.png" style="display: none;margin-top: -111%;margin-left: -28%" id="im02"/>
                </div>
                <div class="col-md-3" >
                    <img src="__IMG__/03.png" style="display: none;margin-top: -66%;margin-left: -57%" id="im03" />
                </div>
                <div class="col-md-3" >
                    <img src="__IMG__/04.png" style="display: none;margin-top: -65%;margin-left: -86%" id="im04"/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="__IMG__/07.png" style="display: none;margin-top: -136%;margin-left: 150%" id="im05"/>
                </div>
                <div class="col-md-4"  >
                    <img src="__IMG__/05.png" style="display: none;margin-top: -97%;margin-left: 134%" id="im06"/>
                </div>
                <div class="col-md-4"  >
                    <img src="__IMG__/06.png" style="display: none;margin-top: -134%;margin-left: 84%" id="im07"/>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" class="section-small" style="background-color: rgba(252, 248, 227, 0.2)" >
        <div class="neirong">
            <!--<article class="container">-->
                <div class="biaoti-sousuo row">
                    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-12">
                        <h3 class="ny-bt" align="center">最新动态</h3>
                        <h5 class="ny-bt1" align="center">WHEDEN&nbsp;<span class="ny-bt2">NEWS</span></h5>
                    </div>
                </div>
                <div class="row m-x-30" style="padding-left: 5%;padding-right: 5%">
                    <figure class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <article class="ny-news">
                            <div class=" col-sm-6 box2">
                                <div class="box1">
                                    <div class="box-img">
                                        <img src="__IMG__/website.jpg" alt="" class="ylw-img-responsive2">
                                    </div>
                                    <div class="box-content">
                                        <h4 class="title">维登</h4>
                                        <p class="description">创新领航互联网时代助力企业发展电商</p>

                                    </div>
                                </div>
                            </div>
                            <h4><a href="javascript:;" target="_blank">平面设计师如何提高自己的设计水平？</a></h4>
                            <p>创新领航互联网时代助力企业发展电商</p>
                            <p><span class="fl"><a href="{:U('Index/newsingle')}">查看详情</a></span><span class="sj">2016-03-25</span></p>
                        </article>
                    </figure>


                    <figure class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <article class="ny-news">
                            <div class=" col-sm-6 box2">
                                <div class="box1">
                                    <div class="box-img">
                                        <img src="__IMG__/website-1.jpg" alt="" class="ylw-img-responsive2">
                                    </div>
                                    <div class="box-content">
                                        <h4 class="title">维登</h4>
                                        <p class="description">创新领航互联网时代助力企业发展电商</p>

                                    </div>
                                </div>
                            </div>
                            <h4><a href="javascript:;" target="_blank">平面设计师如何提高自己的设计水平？</a></h4>
                            <p>创新领航互联网时代助力企业发展电商</p>
                            <p><span class="fl"><a href="#">查看详情</a></span><span class="sj">2016-03-25</span></p>
                        </article>
                    </figure>

                    <figure class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <article class="ny-news">
                            <div class=" col-sm-6 box2">
                                <div class="box1">
                                    <div class="box-img">
                                        <img src="__IMG__/website-2.jpg" alt="" class="ylw-img-responsive2">
                                    </div>
                                    <div class="box-content">
                                        <h4 class="title">维登</h4>
                                        <p class="description">创新领航互联网时代助力企业发展电商</p>

                                    </div>
                                </div>
                            </div>
                            <h4><a href="javascript:;" target="_blank">平面设计师如何提高自己的设计水平？</a></h4>
                            <p>创新领航互联网时代助力企业发展电商</p>
                            <p><span class="fl"><a href="#">查看详情</a></span><span class="sj">2016-03-25</span></p>
                        </article>
                    </figure>
                </div>
            <!--</article>-->
        </div>

    </section>

</main>

<!-- /Main -->
<include file="public/foot" />
<script src="__JS__/show.js"></script>
<script src="__JS__/jquery.touchSwipe.min.js"></script>
<script src="__JS__/bootstrap-touch-slider.js"></script>
<script type="text/javascript">
    $('#bootstrap-touch-slider').bsTouchSlider();
</script>
<script type="text/javascript">
    $('.img1').mousemove(function() {
        $('.img1').css({ width: '115px' });
    });
    $('.img1').mouseout(function() {
        $('.img1').css({ width: '103.5px' })
    });
    $('.img2').mousemove(function() {
        $('.img2').css({ width: '115px' });
    });
    $('.img2').mouseout(function() {
        $('.img2').css({ width: '103.5px' })
    });
    $('.img3').mousemove(function() {
        $('.img3').css({ width: '115px' });
    });
    $('.img3').mouseout(function() {
        $('.img3').css({ width: '103.5px' })
    });
    $('.img4').mousemove(function() {
        $('.img4').css({ width: '115px' });
    });
    $('.img4').mouseout(function() {
        $('.img4').css({ width: '103.5px' })
    });
</script>
