<include file="Public/header" />
<!-- /Header -->

<head>

	<!-- Page title -->
	<title>首页</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		.qc {
			margin: 10px;
		}
		
		.qx {
			margin-bottom: 10px;
		}
	</style>
</head>

<!-- 预加载 -->
<div id="preloader">
	<div class="loader"></div>
</div>
<!-- /预加载 -->

<!-- 滑动 -->
<div class="slider owl-carousel owl-theme jquery-reslider">

	<!-- 滑动 -->

	<div class="item mask" style="background: url(__IMG__/home1.jpg) no-repeat center top / cover;" data-stellar-background-ratio="1">

		<div class="container height-100p">
			<div class="row height-100p">

				<div class="col-sm-6 col-md-6 height-100p bounceInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.3s" data-stellar-ratio="0.7">
					<div class="vertical-middle">
						<h1 class="text-white">欢迎来到 <span class="text-theme">维登科技</span></h1>
						<div class="text-white h4">
							创新领航互联网时代 助力企业发展电商
						</div>
						<a href="http://localhost/wheden.com/index.php/Home/Index/index02.html" class="smooth-scroll btn btn-theme">首页</a>
					</div>
				</div>

				<div class="col-sm-6 col-md-4 col-md-offset-2 height-100p bounceInRight wow" data-wow-duration="1.3s" data-stellar-ratio="0.8">
					<div class="vertical-middle">
						<img src="__IMG__/devices.png" class="img-responsive" alt="">
					</div>
				</div>

			</div>
		</div>

	</div>
	<!-- /滑动 -->

	<!-- 轮播2 -->
	<div class="item mask jquery-reslider" style="background: url(__IMG__/home2.jpg) no-repeat center top / cover;" data-stellar-background-ratio="1" ;>

		<div class="container height-100p">
			<div class="row height-100p">

			</div>
		</div>

	</div>
	<!-- /轮播2 -->
	<!-- 轮播3 -->
	<div class="item mask" style="background: url(__IMG__/home3.jpg) no-repeat center top / cover;" data-stellar-background-ratio="1" ;>

		<div class="container height-100p">
			<div class="row height-100p">

			</div>
		</div>

	</div>
	<!-- /轮播3 -->
	<!-- 轮播4 -->
	<div class="item mask" style="background: url(__IMG__/home4.jpg) no-repeat center top / cover;" data-stellar-background-ratio="1" ;>

		<div class="container height-100p">
			<div class="row height-100p">

			</div>
		</div>

	</div>
	<!-- /轮播4 -->

</div>
<!-- /滑动 -->

<!-- 主要 -->
<main class="main-container">

	<!-- 关于我们： -->
	<section id="about" class="section">
		<div class="container">
			<div class="row">
				<h2 class="title" align="center" style="font-size: 32px;">我们的服务</h2>
				<h4 align="center" >WEBTHINK <span class="text-theme">SERVICE</span></h4>
			</div>
			<!-- /开头 -->

			<div class="row">
<div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
	<div style="height:130px">
					<span class="tu-biao"><a href="#" class="dt"><img style="width:40%;" src="__IMG__/pc1.png" class="img3"></a></span>
	</div>
					<div class="h3 title">
						<a href="#">PC端</a>
					</div>
					<p class="description">
						PC依旧是人们使用最频繁的工具.
					</p>
					<a href="#" class="btn btn-theme">阅读更多</a>
				</div>
				<!-- Feature Block -->
				<div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s">
					<div style="height:130px">
					<span class="tu-biao"><a href="#" class="dt"><img style="width:40%;" src="__IMG__/yidong.png"class="img1"></a></span>
					</div>
					<div class="h3 title">
						<a href="#">Android开发服务</a>
					</div>
					<p class="description">
						安卓APP已经成为人们日常所需工具.
					</p>
					<a href="#" class="btn btn-theme">阅读更多</a>
				</div>
				<!-- /Feature Block -->

				<!-- Feature Block -->
				<div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
					<div style="height:130px">
						<a href="#" class="dt">
						<span class="tu-biao">
						<img style="width:40%;" src="__IMG__/weix.png"class="img2">
						</span></a>
					</div>
					<div class="h3 title">
						<a href="#">微信二次开发</a>
					</div>
					<p class="description">
						微信时代，距离企业宣传发展.
					</p>
					<a href="#" class="btn btn-theme">阅读更多</a>
				</div>

				<!-- Feature Block -->
				<div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
					<div style="height:130px">
					<span class="tu-biao"><a href="#" class="dt"><img style="width:40%;" src="__IMG__/shouhou.png" class="img4"></a></span>
					</div>
					<div class="h3 title">
						<a href="#">运营维护</a>
					</div>
					<p class="description">
						提供网站SEO推广及页面优化相关服务
					</p>
					<a href="#" class="btn btn-theme">阅读更多</a>
				</div>
				<!-- /功能块 -->

			</div>
		</div>
	</section>
	<!-- /关于我们 -->

	<!-- 部分项目 -->
	<section id="projects" class="section-small bg-light-gray">
		<div class="container">

			<!-- 开始 -->
			<div class="row">
						<h2 class="title" align="center" style="font-size: 32px;">我们的案例</h2>
						<h4 align="center" >CASE <span class="text-theme">OF US</span></h4>
			</div>
			<!-- /部分项目 -->

			<!-- 项目内容 -->
			<div class="row mt" style="padding-top: 10px;">

				<div class="col-md-4 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
					<a href="http://localhost/wheden.com/index.php/Home/Index/cases.html" class="project-item ">
						<div class="gallery-image">
							<img src="__IMG__/fc.jpg" alt="彩妆网站设计建设案例" style="width: 356px">
						</div>
						<div class="info">
							<div class="h4 title">彩妆网站设计建设案例</div>
							<p class="description">网页设计</p>

						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
					<a href="http://localhost/wheden.com/index.php/Home/Index/cases.html" class="project-item ">
						<div class="gallery-image">
							<img src="__IMG__/car.jpg" alt="汽车销售网站建设案例" style="height: 230px">
						</div>
						<div class="info">
							<div class="h4 title">汽车销售网站建设案例</div>
							<p class="description">网页设计</p>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
					<a href="http://localhost/wheden.com/index.php/Home/Index/cases.html" class="project-item ">
						<div class="gallery-image">
							<img src="__IMG__/mk.png" alt="东莞麦凯风机有限公司" style="height: 230px">
						</div>
						<div class="info">
							<div class="h4 title">东莞麦凯风机有限公司</div>
							<p class="description"> 网页设计</p>
						</div>
					</a>
				</div>
				<div class="row container">
					<div class="col-md-offset-6">
						<a href="http://localhost/wheden.com/index.php/Home/Index/cases.html" class="btn btn-theme">更多案例</a>
					</div>
				</div>

			</div>
			<!-- /项目内容 -->

		</div>
	</section>

	<section id="statistics" class="section" style="background-image:url(__IMG__/b1.jpg)">
		<div class="container">

			<div class="row">

				<!-- Statistic Block -->
				<div class="col-sm-3 col-xs-6 stat">
					<span class="icon_pens icon zoomIn wow" data-wow-duration="0.7s"></span>
					<div class="number animate-number h2" data-value="180"></div>
					<h4 class="title bounceInUp wow" data-wow-duration="0.7s">完整的项目</h4>
				</div>
				<!-- /Statistic Block -->

				<!-- Statistic Block -->
				<div class="col-sm-3 col-xs-6 stat">
					<span class="icon_group icon zoomIn wow" data-wow-duration="0.7s"></span>
					<div class="number animate-number h2" data-value="1806"></div>
					<h4 class="title bounceInUp wow" data-wow-duration="0.7s">客户</h4>
				</div>
				<!-- /Statistic Block -->

				<!-- Statistic Block -->
				<div class="col-sm-3 col-xs-6 stat">
					<span class="icon_mug icon zoomIn wow" data-wow-duration="0.7s"></span>
					<div class="number animate-number h2" data-value="100%"></div>
					<h4 class="title bounceInUp wow" data-wow-duration="0.7s">满意度</h4>
				</div>
				<!-- /Statistic Block -->

				<!-- Statistic Block -->
				<div class="col-sm-3 col-xs-6 stat">
					<span class="icon_building icon zoomIn wow" data-wow-duration="0.7s"></span>
					<div class="number animate-number h2" data-value="100%"></div>
					<h4 class="title bounceInUp wow" data-wow-duration="0.7s">工作效率</h4>
				</div>
				<!-- /Statistic Block -->

			</div>

		</div>
	</section>
	<section id="testimonials" class="section-small" style="background-color: #fcf8e3" >
		<div class="neirong">
			<article class="container">
				<div class="biaoti-sousuo row">
					<div class="col-xs-12 col-sm-7 col-md-8 col-lg-12">
						<h3 class="ny-bt">最新动态</h3>
						<h5 class="ny-bt1">WHEDEN&nbsp;<span class="ny-bt2">NEWS</span></h5>
					</div>
				</div>
				<div class="row m-x-30">
					<figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<article class="ny-news">
							<div class=" col-sm-6 box2">
								<div class="box1">
									<div class="box-img">
										<img src="__IMG__/website.jpg" alt="" class="ylw-img-responsive2">
									</div>
									<div class="box-content">
										<h4 class="title">维登</h4>
										<p class="description">创新领航互联网时代助力企业发展电商</p>

									</div>
								</div>
							</div>
							<h4><a href="javascript:;" target="_blank">平面设计师如何提高自己的设计水平？</a></h4>
							<p>创新领航互联网时代助力企业发展电商</p>
							<p><span class="fl"><a href="{:U('Index/newsingle')}">查看详情</a></span><span class="sj">2016-03-25</span></p>
						</article>
					</figure>


					<figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<article class="ny-news">
							<div class=" col-sm-6 box2">
								<div class="box1">
									<div class="box-img">
										<img src="__IMG__/website-1.jpg" alt="" class="ylw-img-responsive2">
									</div>
									<div class="box-content">
										<h4 class="title">维登</h4>
										<p class="description">创新领航互联网时代助力企业发展电商</p>

									</div>
								</div>
							</div>
							<h4><a href="javascript:;" target="_blank">平面设计师如何提高自己的设计水平？</a></h4>
							<p>创新领航互联网时代助力企业发展电商</p>
							<p><span class="fl"><a href="#">查看详情</a></span><span class="sj">2016-03-25</span></p>
						</article>
					</figure>

					<figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<article class="ny-news">
							<div class=" col-sm-6 box2">
								<div class="box1">
									<div class="box-img">
										<img src="__IMG__/website-2.jpg" alt="" class="ylw-img-responsive2">
									</div>
									<div class="box-content">
										<h4 class="title">维登</h4>
										<p class="description">创新领航互联网时代助力企业发展电商</p>

									</div>
								</div>
							</div>
							<h4><a href="javascript:;" target="_blank">平面设计师如何提高自己的设计水平？</a></h4>
							<p>创新领航互联网时代助力企业发展电商</p>
							<p><span class="fl"><a href="#">查看详情</a></span><span class="sj">2016-03-25</span></p>
						</article>
					</figure>

					<figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<article class="ny-news">
							<div class=" col-sm-6 box2">
								<div class="box1">
									<div class="box-img">
										<img src="__IMG__/website-3.jpg" alt="" class="ylw-img-responsive2">
									</div>
									<div class="box-content">
										<h4 class="title">维登</h4>
										<p class="description">创新领航互联网时代助力企业发展电商</p>

									</div>
								</div>
							</div>
							<h4><a href="javascript:;" target="_blank">平面设计师如何提高自己的设计水平？</a></h4>
							<p>创新领航互联网时代助力企业发展电商</p>
							<p><span class="fl"><a href="#">查看详情</a></span><span class="sj">2016-03-25</span></p>
						</article>
					</figure>
				</div>
				</article>
			</div>

	</section>

</main>

<!-- /Main -->
<include file="Public/foot" />
<script type="text/javascript">
	$('.img1').mousemove(function() {
		$('.img1').css({ width: '115px' });
	});
	$('.img1').mouseout(function() {
		$('.img1').css({ width: '103.5px' })
	});
	$('.img2').mousemove(function() {
		$('.img2').css({ width: '115px' });
	});
	$('.img2').mouseout(function() {
		$('.img2').css({ width: '103.5px' })
	});
	$('.img3').mousemove(function() {
		$('.img3').css({ width: '115px' });
	});
	$('.img3').mouseout(function() {
		$('.img3').css({ width: '103.5px' })
	});
	$('.img4').mousemove(function() {
		$('.img4').css({ width: '115px' });
	});
	$('.img4').mouseout(function() {
		$('.img4').css({ width: '103.5px' })
	});
</script>
