<include file="Public/header"/>
<!-- /Header -->
<head>

    <!-- Page title -->
    <title>关于我们</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<!-- 预加载 -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /预加载 -->

<!-- Section: Page Header -->
<section class="section-page-header" style="background-image:url(__IMG__/b2.jpg)">
</section>
<!-- /Section: Page Header -->

<!-- Main -->
<main class="main-container" style="background-color: rgba(217, 237, 247, 0.19)" >
    <div class="container" style="margin-bottom: 2%;padding-top: 2%">
            <div class="row">
                <div class="our-team">
                    <div class="col-md-offset-1">
                        <h2 class="title" align="center" style="font-weight: bold;font-size: 32px;">客户案例</h2>
                        <h2 align="center" >CASE <span class="text-theme">OF US</span></h2>
                    </div>
                    <div class="row">
                        <ul class="nav nav-pills col-md-offset-5 col-xs-offset-3">
                            <li class="active" id="web01"><a href="#">网站设计</a></li>
                            <li id="web02"><a href="#">商城建设</a></li>
                            <li id="web03"><a href="#">平面设计</a></li>
                            <li id="web04"><a href="#">旅游网站</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
        <div class="container" id="show01">
            <div class="row">
                <div class="portfolio">
                    <div class="container">
                        <div class="portfolio_item col-md-3 col-xs-12">
                            <div class="pos_rel">
                                <img src="__IMG__/zdfyhg.jpg" alt="portfolio Image" class="img-responsive" style="height: 244px">
                                <div class="overlay"></div>
                                <div class="port_caption">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <h4>东莞纳仕德电子有限公司</h4>
                                    <p>网站设计</p>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_item col-md-3 col-xs-12">
                            <div class="pos_rel">
                                <img src="__IMG__/mk.png" alt="portfolio Image" class="img-responsive" style="height: 244px">
                                <div class="overlay"></div>
                                <div class="port_caption">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <h4>东莞麦凯风机有限公司</h4>
                                    <p>网站设计</p>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_item col-md-3 col-xs-12">
                            <div class="pos_rel">
                                <img src="__IMG__/kejitu.png" alt="portfolio Image" class="img-responsive" style="height: 244px">
                                <div class="overlay"></div>
                                <div class="port_caption">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <h4>东莞手机套行业网站设计建设案例</h4>
                                    <p>网站设计</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="portfolio">
                    <div class="container">
                        <div class="portfolio_item col-md-3 col-xs-12">
                            <div class="pos_rel">
                                <img src="__IMG__/jiaoyu.jpg" alt="portfolio Image" class="img-responsive" style="height: 244px">
                                <div class="overlay"></div>
                                <div class="port_caption">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <h4>东莞教育行业网站案例</h4>
                                    <p>网站设计</p>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_item col-md-3 col-xs-12">
                            <div class="pos_rel">
                                <img src="__IMG__/car.jpg" alt="portfolio Image" class="img-responsive" style="height: 244px">
                                <div class="overlay"></div>
                                <div class="port_caption">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <h4>汽车销售网站建设案例</h4>
                                    <p>网站设计</p>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_item col-md-3 col-xs-12">
                            <div class="pos_rel">
                                <img src="__IMG__/yiyuan.jpg" alt="portfolio Image" class="img-responsive" style="height: 244px">
                                <div class="overlay"></div>
                                <div class="port_caption">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <h4>东莞医疗卫生网站建设案例</h4>
                                    <p>网站设计</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3 col-xs-12 team-member">
                        <div class="image">
                            <a href="#"><img src="__IMG__/zdfyhg.jpg" style="height: 244px" class="img-responsive"></a>
                        </div>
                        <span class="post">东莞纳仕德电子有限公司</span>
                        <p class="text">
                            东莞市纳仕特电子科技有限公司网站案例
                        </p>
                    </div>-->
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="portfolio">
                    <div class="container">
                        <div class="portfolio_item col-md-3 col-xs-12">
                            <div class="pos_rel">
                                <img src="__IMG__/phoneweb.jpg" alt="portfolio Image" class="img-responsive" style="height: 244px;width: 340.27px">
                                <div class="overlay"></div>
                                <div class="port_caption">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <h4>东莞手机销售网站建设案例</h4>
                                    <p>网站设计</p>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_item col-md-3 col-xs-12">
                            <div class="pos_rel">
                                <img src="__IMG__/fz.jpg" alt="portfolio Image" class="img-responsive" style="height: 244px">
                                <div class="overlay"></div>
                                <div class="port_caption">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <h4>服装类网站建设案例</h4>
                                    <p>网站设计</p>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_item col-md-3 col-xs-12">
                            <div class="pos_rel">
                                <img src="__IMG__/fc.jpg" alt="portfolio Image" class="img-responsive" style="height: 244px">
                                <div class="overlay"></div>
                                <div class="port_caption">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <h4>彩妆网站建设案例</h4>
                                    <p>网站设计</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" id="show02" style="display: none">
        <div class="row">
            <div class="portfolio">
                <div class="container">
                    <div class="portfolio_item col-md-3 col-xs-12">
                        <div class="pos_rel">
                            <img src="__IMG__/sjba.png" alt="portfolio Image" class="img-responsive" style="height: 244px">
                            <div class="overlay"></div>
                            <div class="port_caption">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <h4>七夕情人节HTML5+CSS3案例精选</h4>
                                <p>商城建设</p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_item col-md-3 col-xs-12">
                        <div class="pos_rel">
                            <img src="__IMG__/1458922181.gif" alt="portfolio Image" class="img-responsive" style="height: 244px">
                            <div class="overlay"></div>
                            <div class="port_caption">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <h4>快来学学这十佳H5特效吧！</h4>
                                <p>商城建设</p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_item col-md-3 col-xs-12">
                        <div class="pos_rel">
                            <img src="__IMG__/1458924214.gif" alt="portfolio Image" class="img-responsive" style="height: 244px">
                            <div class="overlay"></div>
                            <div class="port_caption">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <h4>高科技通讯公司精选案例</h4>
                                <p>商城建设</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--平面设计 -->
    <div class="container" id="show03" style="display: none">
        <div class="row">
            <div class="portfolio">
                <div class="container">
                    <div class="portfolio_item col-md-3 col-xs-12">
                        <div class="pos_rel">
                            <img src="__IMG__/tsw.png" alt="portfolio Image" class="img-responsive" style="height: 244px">
                            <div class="overlay"></div>
                            <div class="port_caption">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <h4>探索H5的不同表现手法</h4>
                                <p>平面设计</p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_item col-md-3 col-xs-12">
                        <div class="pos_rel">
                            <img src="__IMG__/sheji.gif" alt="portfolio Image" class="img-responsive" style="height: 244px">
                            <div class="overlay"></div>
                            <div class="port_caption">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <h4>如何创意的使用图片元素</h4>
                                <p>平面设计</p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_item col-md-3 col-xs-12">
                        <div class="pos_rel">
                            <img src="__IMG__/sheji02.gif" alt="portfolio Image" class="img-responsive" style="height: 244px">
                            <div class="overlay"></div>
                            <div class="port_caption">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <h4>日新月异的前端特效</h4>
                                <p>平面设计</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--平面设计结束 -->
    <!--旅游网站开始 -->
    <div style="display: none" id="show04" class="container">
        <div class="row">
            <div class="portfolio">
                <div class="container">
                    <div class="portfolio_item col-md-3 col-xs-12">
                        <div class="pos_rel">
                            <img src="__IMG__/fengj.jpg" alt="portfolio Image" class="img-responsive" style="height: 244px">
                            <div class="overlay"></div>
                            <div class="port_caption">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <h4>旅游网站建设案例</h4>
                                <p>旅游网站</p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_item col-md-3 col-xs-12">
                        <div class="pos_rel">
                            <img src="__IMG__/fengjing02.jpg" alt="portfolio Image" class="img-responsive" style="height: 244px">
                            <div class="overlay"></div>
                            <div class="port_caption">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <h4>旅游网站建设案例</h4>
                                <p>旅游网站</p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_item col-md-3 col-xs-12">
                        <div class="pos_rel">
                            <img src="__IMG__/fengj02.jpg" alt="portfolio Image" class="img-responsive" style="height: 244px">
                            <div class="overlay"></div>
                            <div class="port_caption">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <h4>旅游网站建设案例</h4>
                                <p>旅游网站</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fanye text-center">
        <ul class="pagination pagination-lg">
            <li>
                <a href="index.php">首页</a>
            </li>
            <li>
                <a href="javascript:;" title="已是第一页">&lt;&lt;</a>
            </li>
            <li>
                <a href="javascript:;" title="已是第一页">&lt;</a>
            </li>
            <li class="active">
                <a>1</a>
            </li>
            <li class="disabled">
                <a  title="已是最新一页" >&gt;</a>
            </li>
            <li class="disabled">
                <a  title="最后一页" >&gt;&gt;</a>
            </li>
        </ul>
    </div>
</main>
<include file="Public/foot"/>
<script>
 $(function(){
     var show01=$("#show01");
    var show02=$("#show02");
     var show03=$("#show03");
     var show04=$("#show04");
     $("#web02").click(function(){
        show02.show();
        show01.hide();
         show03.hide();
         show04.hide();
         $("#web02").addClass("active");
         $("#web01").removeClass("active");
         $("#web03").removeClass("active");
         $("#web04").removeClass("active");
    });
     $("#web01").click(function(){
         show01.show();
         show02.hide();
         show03.hide();
         show04.hide();
         $("#web01").addClass("active");
         $("#web02").removeClass("active");
         $("#web03").removeClass("active");
         $("#web04").removeClass("active");
     });
     $("#web03").click(function(){
         show02.hide();
         show01.hide();
         show03.show();
         show04.hide();
         $("#web03").addClass("active");
         $("#web02").removeClass("active");
         $("#web01").removeClass("active");
         $("#web04").removeClass("active");
     })
     $("#web04").click(function(){
         show02.hide();
         show01.hide();
         show03.hide();
         show04.show();
         $("#web03").removeClass("active");
         $("#web02").removeClass("active");
         $("#web01").removeClass("active");
         $("#web04").addClass("active");
     })
 });
</script>