<include file="Public/header"/>
<!-- /Header -->
<head>

    <!-- Page title -->
    <title>服务</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .media-left span, .title {cursor:pointer;}
    </style>


</head>

<!-- 预加载 -->
<div id="preloader">
<div class="loader"></div>
</div>
<!-- /预加载 -->

<!-- Section: Page Header -->
<section class="section-page-header" style="background-image:url(__IMG__/b2.jpg)">
</section>
<!-- /Section: Page Header -->

<!-- 服务： -->
<div style="background-color: rgba(217, 237, 247, 0.19)">
    <div class="container" >

        <!-- 小标题 -->
        <!-- Section Header -->
        <div class="row" style="padding-top: 3%">
            <div class="hs">
                    <h2 class="title" align="center" style="font-size: 32px;">网站设计</h2>
                    <h4 align="center" >WEB <span class="text-theme">DESIGN</span></h4>
            </div>
        </div>
        <!-- /Section Header -->
        <!-- /小标题 -->

        <div class="row">

            <p class="description ji-zhong">
                我们的宗旨：创新、务实、诚信，共赢。我们的追求：塑企业形象，创优质品牌。<br/>
                分析html文件，确定整体开发思路

                后台系统基本设置，新建栏目分离出头部和尾部文件，以及其他的公共文件

                程序框架基本配置，数据表的确定分配相应的页面每个栏目页面的功能开发

            </p>
            <!-- Feature Block -->
            <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s">
                <span class="tp" ><img class="img5" src="__IMG__/jieko.png"></span>
                <div class="h3 title wzjs ys">接口服务</div>
            </div>
            <!-- /Feature Block -->

            <!-- Feature Block -->
            <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
                <span class="tp" ><img src="__IMG__/WeChat.png"></span>
                <div class="h3 title wzjs ys">微信公众号</div>
            <!-- /Feature Block -->
            </div>

            <!-- Feature Block -->
            <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
                <span class="tp" ><img src="__IMG__/Computer.png"></span>
                <div class="h3 title wzjs ys">网站建设及优化</div>
            </div>
            <!-- /功能块 -->

            <!-- Feature Block -->
            <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
                <span class="tp" ><img src="__IMG__/move.png"></span>
                <div class="h3 title wzjs ys">APP商城</div>
            </div>
            <!-- /功能块 -->

        </div>
    </div>
</div>
<!-- /服务 -->

<!-- Main -->
<section id="about" class="section fuwu-bg">
<main class="main-container " style="height: 630px">
    <div class="container">

        <!-- Section Header -->
        <div class="row">
            <div class="hs">
                    <p class="">服务详情</p>

            </div>
        </div>
        <!-- /Section Header -->

            <!-- Services -->
            <div class="row">
                 <div class="slideTxtBox">
                    <div class="hd">
                        <ul>

                            <li>
                                <!-- Feature Block -->
                                <div class="col-sm-4 feature fadeIn wow hdtp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                                    <div style="height: 140px">
                                        <span class="tu-biao" >
                                            <img class="img3" style="width:40%;" src="__IMG__/pc.png"></span>
                                    </div>
                                        <div class="h3 title ys">PC端</div>
                                </div>
                                <!-- /功能块 -->
                            </li>

                            <li>
                                <!-- Feature Block -->
                                <div class="col-sm-4 feature fadeIn wow hdtp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                                    <div style="height: 140px">
                                    <span class="tu-biao" ><img class="img1" style="width:40%;" src="__IMG__/yd.png"></span>
                                    </div>
                                    <div class="h3 title ys">移动应用</div>
                                </div>
                                <!-- /Feature Block -->
                            </li>
                            <li>
                                <!-- Feature Block -->
                                <div class="col-sm-4 feature fadeIn wow hdtp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                                    <div style="height: 140px">
                                    <span class="tu-biao" ><img class="img2" style="width:40%;" src="__IMG__/wx.png"></span>
                                        </div>
                                    <div class="h3 title ys">微信二次开发</div>
                                </div>
                                <!-- /Feature Block -->
                            </li>

                            <li>
                                <!-- Feature Block -->
                                <div class="col-sm-4 feature fadeIn wow hdtp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                                    <div style="height: 140px">
                                    <span class="tu-biao" ><img class="img4" style="width:40%;" src="__IMG__/wh.png"></span>
                                        </div>
                                    <div class="h3 title ys">iOS开发服务</div>
                                </div>
                                <!-- /功能块 -->
                            </li>

                        </ul>
                    </div>
                    <div class="bd" >

                        <ul>
                            <!-- Panels -->
                            <div class="col-md-4">

                                <h3 class="title ys">PC开发项目</h3>

                                <div class="panel-group" id="accordion">

                                    <div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="" data-toggle="collapse" data-parent="#accordion" href="#faq-01">
                                                    <i class="fa fa-fw fa-mobile-phone"></i>
                                                    商城平台开发
                                                    <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="faq-01" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                海量网站风格界面，满足您个性化要求
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-02">
                                                    <i class="fa fa-fw fa-paper-plane-o"></i>
                                                    软件系统开发
                                                    <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="faq-02" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                强大的数据分析，让您了如指掌
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-03">
                                                    <i class="fa fa-fw fa-paint-brush"></i>
                                                    品牌型网站开发
                                                    <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="faq-03" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                网站联盟CPS功能，非常完善的营销联盟系统，非常高效和清晰的管理自已的营销团队，为后期的网络营销打造完美的管理平台；
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-theme">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-04">
                                                    <i class="fa fa-fw fa-gears"></i>
                                                    营销型网站开发
                                                    <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="faq-04" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                支付国内外所有在线支付系统（如支付宝、财付通、PayPal、环迅IPS、快钱、网银、贝宝等）数量达十多种；
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /Panels -->

                            <!-- Features -->
                            <div class="col-md-8">
                                <div class="row">

                                    <h3 class="title ys">行业（门户）网站开发</h3>
                                    <p class="wenzi">
                                        有了电脑，我们可以快速获取到各种信息，如果这个利用好的话，把它当成一个学习的工具，那是相当有帮助的。我每天起来都是要用电脑看各种新闻的，第一时间了解各方面的新闻，有助于我们开阔思维，紧跟时政，能够把握当下，甚至对未来有一定的预测，那么这非常有助于创业或是做生意的朋友，可以快速了解到国家的新政策，及时享受到一些福利待遇等。
                                    </p>
                                    <p class="wenzi">带来大量商机和创业的机会，大量的互联网公司如雨后春笋般出现，大家都知道淘宝，造就了很多富翁，这些都是个人创业者，互联网也造就了很多大型公司，比如百度。而且现在越来越多的人也加入到互联网创业中来了，有的是全职，有的是兼职，不管是哪一种，都是能够在互联网上体现一些自己的价值而赚钱。
                                    </p>

                                </div>
                            </div>
                            <!-- /Features -->
                        </ul>

                        <ul>
                            <div class="row mt">

                                <!-- Panels -->
                                <div class="col-md-4">

                                    <h3 class="title ys">Android开发服务</h3>

                                    <div class="panel-group" id="accordion01">

                                        <div class="panel panel-theme">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="" data-toggle="collapse" data-parent="#accordion01" href="#faq-05">
                                                        <i class="fa fa-fw fa-mobile-phone"></i>
                                                        android应用开发
                                                        <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="faq-05" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    移动交互体验
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-theme">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion01" href="#faq-06">
                                                        <i class="fa fa-fw fa-paper-plane-o"></i>
                                                        手机应用开发
                                                        <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="faq-06" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    与PC数据同步
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-theme">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion01" href="#faq-07">
                                                        <i class="fa fa-fw fa-paint-brush"></i>
                                                        android电商平台开发
                                                        <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="faq-07" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    全兼容手机,量身定制
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <!-- /Panels -->

                                <!-- Features -->
                                <div class="col-md-8">
                                    <div class="row">

                                        <h3 class="title ys">安卓APP建设</h3>
                                        <p class="wenzi">
                                            在优势方面,Android平台首先就是其开发性,开发的平台允许任何移动终端厂商加入到Android联盟中来.显著的开放性可以使其拥有更多的开发者,随着用户和应用的日益丰富,一个崭新的平台也将很快走向成熟开发性对于Android的发展而言,有利于积累人气,这里的人气包括消费者和厂商,而对于消费者来讲,随大的受益正是丰富的软件资源.开放的平台也会带来更大竞争,如此一来,消费者将可以用更低的价位购得心仪的手机.
                                        </p>
                                        <p class="wenzi">
                                            Android平台提供给第三方开发商一个十分宽泛.自由的环境,不会受到各种条条框框的阻扰,可想而知,会有多少新颖别致的软件会诞生.但也有其两面性,血腥.暴力.情色方面的程序和游戏如可控制正是留给Android难题之一.
                                        </p>

                                    </div>
                                </div>
                                <!-- /Features -->
                            </div>
                        </ul>

                        <ul>
                            <div class="row mt">

                                <!-- Panels -->
                                <div class="col-md-4">

                                    <h3 class="title ys">微信二次开发服务</h3>

                                    <div class="panel-group" id="accordion02">

                                        <div class="panel panel-theme">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="" data-toggle="collapse" data-parent="#accordion02" href="#faq-10">
                                                        <i class="fa fa-fw fa-mobile-phone"></i>
                                                        微信应用小程序
                                                        <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="faq-10" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    量身定制高大上的微信小程序
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-theme">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion02" href="#faq-11">
                                                        <i class="fa fa-fw fa-paper-plane-o"></i>
                                                        微信支付接口
                                                        <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="faq-11" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    扫码支付，方便快捷
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Panels -->

                                <!-- Features -->
                                <div class="col-md-8">
                                    <div class="row">

                                        <h3 class="title ys">微信二次开发建设</h3>
                                        <p class="wenzi">
                                            第一点，传播力。我们都知道，微信是一款面向大众的聊天和平台工具，所以，只要在微信开发后，商家拥有了微信后，微信上的一条信息，就会传遍整个微信平台，从而达到宣传力的效果，如此强大的宣传力度和传播力度，为公司和商家带来了更大的发展优势，小小的微信，能够开启更大的经济市场。
                                        </p>
                                        <p class="wenzi">
                                            第二点，互动性。因为微信开发后是一种面向公众的平台，所以，在互动效果上，它们要比QQ或者是其他聊天工具都有着极大的优势，尤其是在自动回复的功能上，更为先进和便捷，也正是因为如此，对于商家们来说，在微信开发后，对于客户或者是顾客的相关咨询或者是需求，或者是其他行为，都有了一定的互动性，达到了商民亲和的效果。
                                        </p>

                                    </div>
                                </div>
                                <!-- /Features -->
                            </div>
                        </ul>

                        <ul>
                            <div class="row mt">

                                <!-- Panels -->
                                <div class="col-md-4">

                                    <h3 class="title ys">iOS开发服务</h3>

                                    <div class="panel-group" id="accordion03">

                                        <div class="panel panel-theme" >
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="" data-toggle="collapse" data-parent="#accordion03" href="#faq-08">
                                                        <i class="fa fa-fw fa-mobile-phone"></i>
                                                        iOS应用开发
                                                        <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="faq-08" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    支持ios6.0及以上系统
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-theme">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion03" href="#faq-09">
                                                        <i class="fa fa-fw fa-paper-plane-o"></i>
                                                        iOS电商开发
                                                        <i class="fa fa-fw fa-angle-down collapse-icon"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="faq-09" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Appstore随时随地更新下载，购物更快捷
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Panels -->

                                <!-- Features -->
                                <div class="col-md-8">
                                    <div class="row">

                                        <h3 class="title ys">ios开发建设</h3>
                                        <p class="wenzi">
                                            iOS系统的软件与硬件的整合度相当高，使其分化大大降低，在这方面要远胜于碎片化严重的Android。这样也增加了整个系统的稳定性，经常使用iPhone的朋友也能发现，手机很少出现死机、无响应的情况。
                                        </p>
                                        <p class="wenzi">
                                            苹果在界面设计上投入了很多精力，无论是从从外观性还是到易用性，iOS都致力于为使用者提供最直观的用户体验。iOS系统给人的第一感觉就是简洁、美观、有气质，并且操作简单，用户上手很快，用起来有种手到擒来、行云流水的感觉。
                                        </p>

                                    </div>
                                </div>
                                <!-- /Features -->
                            </div>
                        </ul>

                    </div>
                 </div>
            </div>
    </div>
</main>
<!-- /Main -->
</section>

<include file="Public/foot"/>

<!--js-->
<script src="__JS__/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">jQuery(".slideTxtBox").slide({delayTime:0});</script>
<script type="text/javascript">
    $('.img1').mousemove(function(){
        $('.img1').css({width:'115px'});
    });
    $('.img1').mouseout(function(){
        $('.img1').css({width:'100px'})
    });
    $('.img2').mousemove(function(){
        $('.img2').css({width:'115px'});
    });
    $('.img2').mouseout(function(){
        $('.img2').css({width:'100px'})
    });
    $('.img3').mousemove(function(){
        $('.img3').css({width:'115px'});
    });
    $('.img3').mouseout(function(){
        $('.img3').css({width:'100px'})
    });
    $('.img4').mousemove(function(){
        $('.img4').css({width:'115px'});
    });
    $('.img4').mouseout(function(){
        $('.img4').css({width:'100px'})
    });
</script>
