<include file="Public/head"/>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
  <div class="padding border-bottom">  
  <a class="button border-yellow" href="{:U('Column/add')}"><span class="icon-plus-square-o"></span> 添加栏目</a>
  </div> 
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>     
      <th>栏目名称</th>
      <th>创建时间</th>
        <th>描述</th>
      <th>排序</th>
      <th width="250">操作</th>
    </tr>

      <volist name="lists" id="vo">
    <tr>
      <td>{$vo.id}</td>
      <td>{$vo.name}</td>
      <td>{$vo.update_time}</td>
      <td>{$vo.content}</td>
      <td>1</td>
      <td>
      <div class="button-group">
      <a type="button" class="button border-main" href="{:U('Column/save','id='.$vo['id'])}"><span class="icon-edit"></span>修改</a>
       <a class="button border-red" href="{:U('Column/delete','id='.$vo['id'])}" onclick="return del(17)"><span class="icon-trash-o"></span> 删除</a>
      </div>
      </td>
    </tr> 
    </volist>

    
  </table>
</div>
<script>
function del(id){
	if(confirm("您确定要删除吗?")){
		
	}
}
</script>

</body></html>