<include file="Public/header"/>
<!-- /Header -->
<head>

    <!-- Page title -->
    <title>关于维登</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' href='__CSS__/base.css'/>

    <style>
        body {
            font-family: "microsoft yahei";
        }

        .jianjie {
            text-align: center;
            font-family: '微软雅黑', sans-serif;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        h3 {
            font-family: '微软雅黑', sans-serif;
            font-size: 30px;
            color: #002;
            margin-bottom: 30px;
        }

        p {
            font-size: 14px;
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;

        }

        .youshi {
            text-align: center;
            font-family: '微软雅黑', sans-serif;
            box-sizing: border-box;

        }

        h4 {
            margin-top: 30px;
            font-family: '微软雅黑', sans-serif;
            font-size: 20px;
            color: #002;
            margin-bottom: 50px;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }

        .tuandui {
            background-color: #9d9d9d;
            height: 500px;
            width: 100%;
            margin-top: 20px;
        }
       /* .img{
            width: 350px;
            height: 300px;
        }*/
    </style>
</head>

<!-- 预加载 -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /预加载 -->

<!-- Section: Page Header -->
<section class="section-page-header" style="background-image:url(__IMG__/b1.jpg)">
    <!--<div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="title">关于我们</h1>
            </div>

            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li><i class="fa fa-fw fa-home"></i> <a href="{:U('index/index')}">首页</a></li>
                    <li>关于我们</li>
                </ul>
            </div>

        </div>
    </div>-->
</section>
<!-- /Section: Page Header -->

<!-- Main -->
<main class="main-container" style="background-color: rgba(217, 237, 247, 0.19)">
    <div class="container">

        <div class="row">

            <!-- Our History -->

            <div class="jianjie" style="margin-top: 3%">
                <h2 class="title" align="center" style="font-size: 32px;">我们是谁</h2>
                <h4 align="center" >ABOUT <span class="text-theme">WEBTHINK</span></h4>
                <p>维登科技是一家专注于电子商务和移动互联网运营的科技型服务公司。公司依托互联网的创业生态体系，在零售电商、</p>
                <p>O2O领域及移动新互联网方向积极探索，开拓进取。成立以来，秉承“创新、务实、诚信，共赢”的价值观，以用户需求为核心，</p>
                <p>聚焦客户的关注点，提供有竞争力的解决方案和服务，为客户创造最大价值。公司专注于网站定制、企业网站建设、手机移动网站建设、</p>
                <p>手机APP定制开发、应用系统开发、电商运营、移动互联网等相关服务，为企业提供全球化互联网解决方案。</p>
                <p>我们的理念：聚焦客户的关注点，提供有竞争力的解决方案和服务，为客户创造最大价值。</p>
                <p>我们的宗旨：创新、务实、诚信，共赢。</p>
                <p> 我们的追求：塑企业形象，创优质品牌。</p>
            </div>
            <div class="youshi">

                <div class="col-md-4 col-xs-12">
                    <div class="img">
                        <img src="__IMG__/wrapper-img.gif" class="img-responsive" style="height: 241.38px"/>
                    </div>

                    <h4>定制打造</h4>
                    <p>针对不同企业状况、客户特殊需求等量身打造，从专业化的建站方案定制，独一无二的视觉效果设计，
                        到易于SEO优化的规范化代码编写，易于操作的人性化管理后台，无不体现“定制”的意义。</p>
                </div>


                <div class="col-md-4 col-xs-12">
                    <div class="img">
                        <img  src="__IMG__/1458925706.gif" class="img-responsive"/>
                    </div>

                    <h4>创新设计</h4>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        为客户定制适合自己的互联网形象，&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        尊重访问者视觉体验和浏览习惯，用户体验友好，
                        注重信息架构分析，界面设计、互动设计和
                        内容制作，为客户提供高价值的平台。</p>
                </div>

                <div>
                    <div class="col-md-4 col-xs-12">
                        <div class="img">
                            <img src="__IMG__/1458922181.gif" class="img-responsive"/>
                        </div>

                        <h4>诚信务实</h4>
                        <p>全网是一个新概念，是互联网时代的必然产物，更是企业在未来几年内的生存之道。
                            维登为客户提供全方位全网开发。网站建设、微站设计、微信公众平台开发，同时完整的将互联网各平台结合，
                            实现一站式管理。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--效果html开始-->
    <div class="row" style="margin-top: 1%;background-color: rgba(216, 240, 231, 0.52)">
        <h2 class="title" align="center" style="font-size: 32px;padding-top: 3%">我们的服务</h2>
        <h4 align="center" >WEBTHINK <span class="text-theme">SERVICE</span></h4>
    <div class="item_box box10  hidden-xs">
        <div class="voice_2">
            <ul>
                <li class="li1" id="li1">
                    <div class="fold" style="display:none;">
                        <span class="img" style="height: 2%"></span>
                        <span class="txt">沟通</span>
                    </div>
                    <div class="unfold" style="display:block">
                        <dl>
                            <dt><img src="__PUBLIC__/Home/ly/images/img10.png"/>
                            <p>您可以拨打我们的电话,联系我们说出您的需求，我们会根据已确认的设计稿进行每一个页面的制作。我们会按照我们的W3C制作标准进行web开发，使得更简易、可方便调节、各浏览器兼容性强、可扩展等，让用户体验达到一定高度！
                            </p>
                            </dt>
                            <!--<dd>使用语音外呼的模式将指定的语音呼入至接听人，可通过这种方式为针对性的客户提供会议通知、活动通知，并可通过API接口程序化控制呼出时间、呼出效果反馈
                        </dd>-->
                        </dl>
                    </div>
                </li>
                <li class="li2">
                    <div class="fold">
                        <span class="img" style="height: 4%"></span>
                        <span class="txt">互联</span>
                    </div>
                    <div class="unfold">
                        <dl>
                            <dt><img src="__PUBLIC__/Home/ly/images/img42.png" style="height: 297px"/>
                            <p>我们提供全网服务器,支持VPN全球用户访问</p>
                            </dt>
                        </dl>
                    </div>
                </li>
                <li class="li3">
                    <div class="fold">
                        <span class="img" style="height: 4%"></span>
                        <span class="txt">在线</span>
                    </div>
                    <div class="unfold">
                        <dl>
                            <dt><img src="__PUBLIC__/Home/ly/images/img49.png"/></dt>
                            <dd>随时随地在线沟通，共同商榷网站建设</dd>
                        </dl>
                    </div>
                </li>
                <li class="li4">
                    <div class="fold">
                        <span class="img" style="height: 0px"></span>
                        <span class="txt">云端</span>
                    </div>
                    <div class="unfold">
                        <dl>
                            <dt><img src="__PUBLIC__/Home/ly/images/img50.png"/>
                            <p>云平台，云储存，云服务，让数据更加安全</p></dt>
                        </dl>
                    </div>
                </li>
                <li class="li5">
                    <div class="fold">
                        <span class="img" style="height: 0px"></span>
                        <span class="txt">兼容</span>
                    </div>
                    <div class="unfold">
                        <dl>
                            <dt><img src="__PUBLIC__/Home/ly/images/img51.png"/></dt>
                            <dd>支持手机访问网页，完美兼容</dd>
                        </dl>
                    </div>
                </li>
                <li class="li6">
                    <div class="fold">
                        <span class="img" style="height: 0px"></span>
                        <span class="txt">咨询</span>
                    </div>
                    <div class="unfold">
                        <dl>
                            <dt><img src="__PUBLIC__/Home/ly/images/img52.png" style="height: 220px"/></dt>
                            <dd>现在立即致电13637848756,开始属于您的网站之旅！</dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>

</main>

<!-- /Main -->
<include file="Public/foot"/>
<script type="text/javascript" src="__JS__/jquery-1.8.2.js"></script>
<script type="text/javascript" src="__JS__/Home/ly/js/base.js"></script>