<include file="public/header"/>
<head>

    <!-- Page title -->
    <title>公司环境</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="__IMG__/favicon.png">

    <!-- Style -->
    <link rel="stylesheet" href="__CSS__/theme.css">

</head>

<!-- 预加载 -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /预加载 -->

<!-- Section: Page Header -->
<section class="section-page-header" style="background-image:url(__IMG__/b1.jpg)">

</section>
<!-- /Section: Page Header -->

<!-- Main -->


<main class="main-container" style="background-color: rgba(217, 237, 247, 0.19)" >
    <div class="row" style="margin-top: 2%">
        <h2 class="title" align="center" style="font-size: 37px;font-weight: 600">公司环境</h2>
        <h4 align="center" style="font-weight: 600" >COMPANY <span class="text-theme">SCIENCE</span></h4>
    </div>
    <section>
        <div class="container">

            <!-- Project -->
            <div class="row">

                <div class="projects-list">

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="__IMG__/portfolio.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="__IMG__/portfolio.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="__IMG__/portfolio02.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="__IMG__/portfolio02.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="__IMG__/portfolio03.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="__IMG__/portfolio03.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="__IMG__/portfolio04.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="__IMG__/portfolio04.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="__IMG__/portfolio05.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="__IMG__/portfolio05.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="__IMG__/portfolio06.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="__IMG__/portfolio06.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="__IMG__/portfolio07.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="__IMG__/portfolio07.jpg">
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="col-md-12">
                    <ul class="pagination">
                        <li><span>第1 / 1页</span></li>
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">上一页</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a>下一页</a></li>
                        <li><a >&raquo;</a></li>
                    </ul>
                </div>
                <!-- /Pagination -->

            </div>
            <!-- /Project -->

        </div>
    </section>



</main>
<!-- /Main -->

<include file="public/foot"/>